name: Create and publish signed docker image with SLSA provenance and SBOM
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

env:
  REGISTRY_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  REGISTRY_TOKEN: '${{ secrets.DOCKER_PASSWORD }}'
  DOCKER_ORGANIZATION: philipssoftware
  GITHUB_ORGANIZATION: philips-software
  KEYLESS: true

jobs:
  get-version:
    name: Get version from tag
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Get version
        id: version
        run: |
          echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

  docker-image:
    needs: [get-version]
    name: Docker build from dockerfile
    runs-on: ubuntu-latest
    container: python:3.10
    steps:
      - name: Checkout code
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # ratchet:actions/checkout@v3
      - name: Show version
        run: echo ${{ needs.get-version.outputs.version }}
      - name: Build docker image
        uses: philips-software/docker-ci-scripts@v5.1.0
        with:
          dockerfile: .
          image-name: SPDXMerge
          tags: ${{ needs.get-version.outputs.version }}
          push-branches: main
          slsa-provenance: true
          sign: true
          sbom: true

